body {
    font-size: 18px;
    color: #777;
    background: #777;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    margin: auto;
}

#header {
    background: #ebebeb;
    padding: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
    text-align: center;

}

#nav {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
}

#aside {
    float: right;
    background: #ebebeb;
    height: 280px;
    width: 365px;
    text-align: center;
    padding-top: 10px;
    margin-right: 45px;
    margin-bottom: 10px;
}

#sec {
    float: left;
    background: #ebebeb;
    height: 265px;
    width: 495px;
    overflow: auto;
    margin-left: 45px;
    padding-top: 25px;
    text-align: center;
}

#article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#header1 {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#para {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
}

#footer {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    clear: both;
    margin-left: 45px;
    margin-right: 45px;
}